body {
    color: #ffffff !important;
    background: #000000 !important;
}

.container-item {
    background-color: #000000 !important;
	color: white !important;
	border: none !important;
}

.row {
    background-color: #000000 !important;
	color: white !important;
}

h1, h2, h3, h4, h5 {
    color: #ffffff !important;
}

#project-show .project-status-box[data-status=subscribed] {
    background-color: #00babc6b !important;
}

.btn.btn-primary {
    background-color: #00babc6b !important;
    border-color: #00babc6b !important;
}

.main-navbar {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.main-navbar .main-navbar-user-nav>.dropdown>a>span {
    color: #ffffff !important;
}

.fal {
	color: #ffffff !important;
}

.main-navbar .main-navbar-search:before {
    color: #ffffff !important;
}

.app-sidebar-left {
    background-color: #000000 !important;
}

.main-left-navbar {
    background-color: #000000 !important;
}

.main-navbar .main-navbar-logo {
    background-color: #000000 !important;
}

.projects-menu-list .project-item {
    color: #ffffff !important;
}

.project-status-icon {
    color: #ffffff !important;
}

.main-left-navbar li a {
    color: #ffffff !important;
}

text {
    fill: #ffffff !important;
}

.highcharts-background {
    fill: #000000 !important;
}

.list-group-item {
    background-color: #000000 !important;
}

.team-item .team-content .team-lock-and-close {
    color: #ffffff !important;
}

.team-item .team-repo .input-group input {
    background-color: #000000 !important;
    border: 1px solid #ffffff !important;
}

.form-control {
    color: #ffffff !important;
}

.shop-item {
    background: #000000 !important;
    color: #ffffff !important;
    border: solid 1px #ffffff !important;
}

.shop-item .shop-item--body span.name {
    color: #ffffff !important;
}