/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   dark.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: eanne <eanne@student.42.fr>                +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2025/03/12 17:39:48 by eanne             #+#    #+#             */
/*   Updated: 2025/03/11 09:12:04 by eanne            ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.bg-zinc-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18) !important;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(18 18 18 / var(--tw-bg-opacity)) !important;
}

.slider-container {
	background-color: rgb(18 18 18) !important;
	color: rgb(229 231 235) !important;
}

.justify-center {
	background-color: rgb(18 18 18) !important;
}

.leading-5 {
    color: rgb(229 231 235) !important;
}

.font-bold {
	color: rgb(229 231 235) !important;
}

.text-base {
	color: rgb(229 231 235) !important;
}

.text-sm {
	color: rgb(229 231 235) !important;
}

path {
    stroke: rgb(229 231 235) !important;
}

input[type="search"] {
    background-color: rgb(18 18 18) !important;
}

.md\:drop-shadow-md {
	border: solid 1px rgb(229 231 235);
}

.border-neutral-600 {
    border-color: rgb(229 231 235) !important;
}

.bg-ft-gray\/50 {
    background-color: rgb(18 18 18) !important;
}

.bg-ft-gray {
    background-color: rgb(18 18 18) !important;
}

.border-ft-gray-border {
    border-color: rgb(229 231 235) !important;
}

.bg-\[\#4E5566\] {
    background-color: rgb(18 18 18) !important;
}

.border-\[hsla\(0\,_0\%\,_20\%\,_1\)\] {
    border-color: #ffffff !important;
}

.border-b-legacy-main-border {
    border-bottom-color: #ffffff !important;
}

[data-radix-popper-content-wrapper] {
    background-color: rgb(18 18 18) !important;
    color: rgb(229 231 235) !important;
}